body{
    margin: 0;
}

.hero{
    width: 550px;
    height: 550px;
    margin: 50px auto 0 auto;
    color: #ffffff;
    text-align: left;
   
  }

  .container{
    background: #1F2937;
    padding: 115px 52px;
   
  }

  #header{
    width: 354px;
    height: 80px;
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
  

  }
.green-txt{
color: #4ADF86;
}


h3{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color:#D5D4D8 ;
   }

button{
    margin-top: 15px;
    margin-bottom: 35px;
    padding: 9px 17px 9px 15px;
    background: #10B981;
    color: #ffffff;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
     
}

hr{
    width: 446px;
    border: 1px solid #2F3E53;
    margin-top: 0px;
    margin-bottom: 35px;
}

.generated-passwords{
    display: flex;
    justify-content: space-between;
}

.pwd-container{
    width: 211px;
    height: 39px;
    border-radius: 6px;
    background: #273549;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #55F991;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
      
}

@media (max-width: 500px){

.hero{
  width: 100%;

 
}
.generated-passwords {
flex-direction: column;
gap: 30px;
}
.pwd-container{
  width: 250px;
}

hr{
  width: 300px;
}

#header{
width: 300px;
font-size: 30px;
line-height: 30px;
}
h3{
 
  font-size: 18px;
  line-height: 18px;

 }
}